.cr-cz-vehicle-card-holder {
  min-width: 260px;
}

.csd-img-icon {
  height: 22px;
  margin-right: 4px;
}

.otherTokens {
  margin-bottom: 0.5rem;
}

.text-xsmall {
  font-size: 0.75rem;
}

.text-small {
  font-size: 0.85rem;
}
